<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Clear Slate.</title>
</head>
<body class="frame">
    <h1>Clear \ Slate.</h1>
    <div id="arrange">
    <button onclick="toggleBox()">Create</button>
    <div id="box"></div>
    <script>
        function toggleBox() {
        var box = document.getElementById('box');
        if (box.style.display === 'none' || box.style.display === '') {
            box.style.display = 'inline-flex';
        } else {
            box.style.display = 'none';
        }
    }
    </script>
    </div>
</body>
</html>