<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just so you know</title>
</head>
<body>
    <h1>Hey! It's weekday, time to make some money! <%= weekday %></h1>
    <h1>Hey, It's the weekend, time to work on the side hustle! <%= weekend %></h1>
</body>
</html>